.sidebar
  background-color: lightsalmon

.articles
  background-color: darkseagreen

header img
  width: 2em
  display: inline

header
  background-color: darkgreen

nav ul
  float: right
  margin: 0 .5em


li
  display: inline
